*
!.gitignore
!LICENSE
!README.md
!LuaFormatter.config
!script/
!script/**
!driver/
!driver/**
!cloudflare-config-generator/
!cloudflare-config-generator/**
!tests/
!tests/*.py
!tests/requirements.txt
